<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Medicos Cadastrados</title>
</head>

<body class="blue lighten-5">

    <nav class="blue darken-1">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Hospital Manager</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/paciente">Pacientes</a></li>
                <li><a class="active" href="/medico">Médicos</a></li>
                <li><a href="#">Consultas</a></li>
            </ul>
        </div>
    </nav>



    <main class="container">
        <h2>Medicos Cadastrados</h2>

      

        <div>
          <table class="highlight responsive-table">
            <thead>
              <tr>
                  <th>Nome</th>
                  <th>Crm</th>
                  <th>especialidade</th>
                  <th></th>
                  <th></th>
              
              </tr>
            </thead>
    
            <tbody>
              <tr >
                <td>Humberto Campos</td>
                <td>554781</td>
                <td>gastrologia</td>
                <td></td>
                <td></td>
            
                <td><a class="waves-effect waves-light btn-small"><i class=" material-icons">mode_edit</i></a></td>
                <td><a class="waves-effect waves-light btn-small  pink accent-3"><i class="material-icons ">delete</i></a></td>
              </tr>
            </tbody>
          </table>
        </div>

          <div class="fixed-action-btn">
                <a class="btn-floating btn-large cyan pulse darken-1">
            <i class="large material-icons">add</i>
          </a>
         
        </div>

    </main>





</body>

</html>